<include file="Public/mobile_head" />
<link rel="stylesheet" type="text/css" href="{:ADDON_PUBLIC_PATH}/showlist.css" media="all">

<body>
	<div class="container body">
		<table class="tableStyle">
			<tbody>
				<tr>
					<th class="tdStyle">序号</th>
					<th class="tdStyle">内容</th>
					<th class="tdStyle">提交时间</th>
				</tr>
				<volist name="list" id="vo">
					<tr>
						<td class="tdStyle">{$vo.id}</td>
						<td class="tdStyle">{$vo.content}</td>
						<td class="tdStyle">{$vo.add_time_name}</td>
					</tr>
    			</volist>
			</tbody>
		</table>

		<p class="copyright">2016&copy;无有形</p>
	</div>
</body>
</html>