<extend name="Public/base" />
<block name="body">
	<h2 style="line-height:50px;">修改密码</h2>
	<div>
		<form action="index.php?s=/Admin/User/passwordReset" method="post">
			<div><h5>用户名:{$userInfo.nickname}</h5></div>
				<input type="text" style="display: none;" name="userId" value="{$userInfo.uid}" />
			<div>
				<h5>新密码:</h5>
				<div>
					<input type="password" name="newPassword" value="" />
				</div>
			</div>
			<div>
				<h5>确认密码:</h5>
				<div>
					<input type="password" name="passwordAgain" value="" />
				</div>
			</div>
			<div>
				<input type="submit" value="提交" />
			</div>
		</form>
	</div>

</block>